body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	
    background-image: url("image/images/IMG_7040[1].JPG");
    background-color: #cccccc;


}

h1 {
	font-size: 32px; font-family: Palatino, 'Palatino Linotype', serif;color: #FFDAB9);
}

h2 {
	font-size: 56px;
  color: #BC8F8F;
}


.hero {
	padding: 250px 0;
	margin: 30px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;color: white;
background: #696969
  background-size: cover

}




p {
font-size: 2rem;
color: #708090;
}

.hero a {
	color: #FFFAFA;
	font-size: 1.25em;
	text-decoration: none;
}

#footer {font-size: 0.75rem;
}
