body {
	height: 100%;
	margin: 20;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 32px; font-family: Palatino, 'Palatino Linotype', serif;color: rgb(46,105,163);
}

h2 {
	font-size: 56px;
  color: #ffff00;
}


p {
font-size: 2rem;
color: #ffff00;
}

.happy {
	padding: 250px 0;
	margin: 30px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;color: #ffff00;
background-image: url("https://github.com/karolinahamilton/KH-PHOTO/blob/master/Images/IMG_6703.JPG");
  background-size: cover
}

.Happy a {
	color: #00FFAA;
	font-size: 1.25em;
	text-decoration: none;
}

#footer {font-size: 0.75rem;
}
